<a href="https://colab.research.google.com/github/SourGum73/DigitalSkola-Homework_Dataframe/blob/main/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##Made a 'Full Name' Column

In [ ]:
# Baca data dari sheet "Paid-Transaction"
paid_trans_df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Homework 3 - Dataframe II/Homework-DataFrame-Dataset1.xlsx', sheet_name="Paid-Transaction")

# Baca data dari sheet "Seller"
sellers_df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Homework 3 - Dataframe II/Homework-DataFrame-Dataset1.xlsx', sheet_name="Seller")

print(paid_trans_df)

       Paid Date     Order Number First Name Last Name     Meta Category  \
0       20170724  201707240088517    elvride     aries      Babies/ Kids
1       20170701  201707018889790      BASIR     Ninuk   Service/ Mokado
2       20170707  201707079264675      Citra      Ardi   Service/ Mokado
3       20170720  201707209945714       Dian   Renaldi           Fashion
4       20170722  201707220002354      rizal     Tamba  Gadget/ Komputer
...          ...              ...        ...       ...               ...
11995   20171201  201712012704898     Fitrah      gina   Service/ Mokado
11996   20171203  201712032723513    Djebeng    Shinta   Service/ Mokado
11997   20171204  201712042740205       Amik      Elan        Home/ Food
11998   20171207  201712072778621       Anna      asih  Gadget/ Komputer
11999   20171205  201712052746101     nidyah       ayi   Service/ Mokado

                                            Product Name  Transaction Amount  \
0      Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...              300000
1                                     Pulsa BOLT 150.000              287800
2                              XTRA Combo 12X 6GB, 12bln               35000
3      Square Foldable Travel Bag / Tas Koper Luggage...               85000
4                             Samsung Galaxy Note 5 Gold               81000
...                                                  ...                 ...
11995                              Xtra Combo 12GB, 30hr              333000
11996                              Xtra Combo 12GB, 30hr              280000
11997  Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...              150000
11998  Samsung Galaxy J5 Pro Garansi Resmi Special Price              475000
11999  [SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...              475000

       Seller Discount  Sales Discount  Delivery Fee  Other Discount
0               153000         10200.0          9000             0.0
1                68000             0.0             0             0.0
2                    0           700.0             0             0.0
3                    0          5900.0             0             0.0
4                    0          5600.0             0             0.0
...                ...             ...           ...             ...
11995           300000          2300.0             0             0.0
11996           222500             0.0             0             0.0
11997            81000          4800.0             0             0.0
11998           400000             0.0             0             0.0
11999           400000         20000.0         17000             0.0

[12000 rows x 11 columns]

In [ ]:
#Create a new column "Full Name"
paid_trans_df['Full Name'] = paid_trans_df['First Name'].str.title() + " " + paid_trans_df['Last Name'].str.title()

# Insert the "Full Name" column after "Last Name"
paid_trans_df = paid_trans_df[['Paid Date', 'Order Number', 'First Name', 'Last Name',
                               'Full Name','Meta Category', 'Product Name', 'Transaction Amount',
                               'Seller Discount', 'Sales Discount', 'Delivery Fee', 'Other Discount']]

In [ ]:
print(paid_trans_df.head())

   Paid Date     Order Number First Name Last Name      Full Name  \
0   20170724  201707240088517    elvride     aries  Elvride Aries
1   20170701  201707018889790      BASIR     Ninuk    Basir Ninuk
2   20170707  201707079264675      Citra      Ardi     Citra Ardi
3   20170720  201707209945714       Dian   Renaldi   Dian Renaldi
4   20170722  201707220002354      rizal     Tamba    Rizal Tamba

      Meta Category                                       Product Name  \
0      Babies/ Kids  Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...
1   Service/ Mokado                                 Pulsa BOLT 150.000
2   Service/ Mokado                          XTRA Combo 12X 6GB, 12bln
3           Fashion  Square Foldable Travel Bag / Tas Koper Luggage...
4  Gadget/ Komputer                         Samsung Galaxy Note 5 Gold

   Transaction Amount  Seller Discount  Sales Discount  Delivery Fee  \
0              300000           153000         10200.0          9000
1              287800            68000             0.0             0
2               35000                0           700.0             0
3               85000                0          5900.0             0
4               81000                0          5600.0             0

   Other Discount
0             0.0
1             0.0
2             0.0
3             0.0
4             0.0

##Calculate Gross Merchandise Value shich is calculated as "Transaction Amount" minus "Seller Discount" plus "Delivery Fee"

In [ ]:
# Calculate GMV
paid_trans_df['GMV'] = paid_trans_df['Transaction Amount'] - paid_trans_df['Seller Discount'] + paid_trans_df['Delivery Fee']

#Add a new column named "GMV" after the "Seller Discount" column
paid_trans_df = paid_trans_df[['Paid Date', 'Order Number', 'First Name',
                               'Last Name', 'Full Name', 'Meta Category', 'Product Name',
                               'Transaction Amount','Seller Discount', 'GMV',
                               'Sales Discount', 'Delivery Fee', 'Other Discount']]

In [ ]:
print(paid_trans_df.head())

   Paid Date     Order Number First Name Last Name      Full Name  \
0   20170724  201707240088517    elvride     aries  Elvride Aries
1   20170701  201707018889790      BASIR     Ninuk    Basir Ninuk
2   20170707  201707079264675      Citra      Ardi     Citra Ardi
3   20170720  201707209945714       Dian   Renaldi   Dian Renaldi
4   20170722  201707220002354      rizal     Tamba    Rizal Tamba

      Meta Category                                       Product Name  \
0      Babies/ Kids  Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...
1   Service/ Mokado                                 Pulsa BOLT 150.000
2   Service/ Mokado                          XTRA Combo 12X 6GB, 12bln
3           Fashion  Square Foldable Travel Bag / Tas Koper Luggage...
4  Gadget/ Komputer                         Samsung Galaxy Note 5 Gold

   Transaction Amount  Seller Discount     GMV  Sales Discount  Delivery Fee  \
0              300000           153000  156000         10200.0          9000
1              287800            68000  219800             0.0             0
2               35000                0   35000           700.0             0
3               85000                0   85000          5900.0             0
4               81000                0   81000          5600.0             0

   Other Discount
0             0.0
1             0.0
2             0.0
3             0.0
4             0.0

##Create New Collumn called 'Group' and assign Values 1 and 2 based on "Meta Category"

In [ ]:
# Create a new column with group information
group_mapping = {
    'Home/ Food': 'Group 1',
    'Sports/ Hobi/ Otomotif': 'Group 1',
    'Fashion': 'Group 1',
    'Beauty/ Health': 'Group 1',
    'Gadget/ Komputer': 'Group 2',
    'Elektronik': 'Group 2',
    'Service/ Mokado': 'Group 2',
    'Babies/ Kids': 'Group 2'
}

paid_trans_df['Group'] = paid_trans_df['Meta Category'].map(group_mapping)

In [ ]:
# Convert 'Paid Date' from string to datetime
paid_trans_df['Paid Date'] = pd.to_datetime(paid_trans_df['Paid Date'], format='%Y%m%d')  # Assuming YYYY-MM-DD format
paid_trans_df['Month'] = paid_trans_df['Paid Date'].dt.month

print(paid_trans_df.head())

   Paid Date     Order Number First Name Last Name      Full Name  \
0 2017-07-24  201707240088517    elvride     aries  Elvride Aries
1 2017-07-01  201707018889790      BASIR     Ninuk    Basir Ninuk
2 2017-07-07  201707079264675      Citra      Ardi     Citra Ardi
3 2017-07-20  201707209945714       Dian   Renaldi   Dian Renaldi
4 2017-07-22  201707220002354      rizal     Tamba    Rizal Tamba

      Meta Category                                       Product Name  \
0      Babies/ Kids  Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...
1   Service/ Mokado                                 Pulsa BOLT 150.000
2   Service/ Mokado                          XTRA Combo 12X 6GB, 12bln
3           Fashion  Square Foldable Travel Bag / Tas Koper Luggage...
4  Gadget/ Komputer                         Samsung Galaxy Note 5 Gold

   Transaction Amount  Seller Discount     GMV  Sales Discount  Delivery Fee  \
0              300000           153000  156000         10200.0          9000
1              287800            68000  219800             0.0             0
2               35000                0   35000           700.0             0
3               85000                0   85000          5900.0             0
4               81000                0   81000          5600.0             0

   Other Discount    Group  Month
0             0.0  Group 2      7
1             0.0  Group 2      7
2             0.0  Group 2      7
3             0.0  Group 1      7
4             0.0  Group 2      7

In [ ]:
#Create a new DataFrame with a pivot table:
pivot_table = paid_trans_df.pivot_table(index=paid_trans_df['Month'], columns=['Group'], aggfunc={'GMV': 'sum'}, fill_value=0)

print(pivot_table)

             GMV
Group    Group 1    Group 2
Month
7      147724300  230414100
8       94599100  348790700
9      263786400  191482700
10     114883100  150263700
11     263329200  326532200
12     131366800  451421300

## Find Seller who has the highest total GMV in August 2017

In [ ]:
# Merge Sheet "Paid-Transaction" and "Seller" based on "Order Number"
merged_df = paid_trans_df.merge(sellers_df, on='Order Number')
# Filtering for August
aug_filtered_df = merged_df[merged_df['Paid Date'].dt.month == 8]
print(aug_filtered_df.head())

      Paid Date     Order Number First Name Last Name         Full Name  \
1102 2017-08-08  201708080665846       lisa     Ervin        Lisa Ervin
1103 2017-08-13  201708120799765  chrysdian    Yantie  Chrysdian Yantie
1104 2017-08-10  201708100736231      lidya       Ria         Lidya Ria
1105 2017-08-13  201708130817233       Novi      saif         Novi Saif
1106 2017-08-29  201708291193006     gading      Febe       Gading Febe

        Meta Category                                       Product Name  \
1102     Babies/ Kids  Selimut Double Fleece Carters 100 cm x 75 cm -...
1103          Fashion  NEW ITEM // LADIES SHIRT V COLLAR // 7 Warna /...
1104  Service/ Mokado                        Pulsa Telkomsel REG 200.000
1105          Fashion  Celana Kulot Panjang Wanita / Bahan Spandek Uk...
1106          Fashion                                  Ransel Wanita 816

      Transaction Amount  Seller Discount     GMV  Sales Discount  \
1102               16000             6100   18900             0.0
1103              250000            91000  169000         11100.0
1104               75000             5000   70000             0.0
1105              125000                0  125000             0.0
1106               35000                0   35000             0.0

      Delivery Fee  Other Discount    Group  Month                 Seller
1102          9000             0.0  Group 2      8             Venna Shop
1103         10000             0.0  Group 1      8  shop and save fashion
1104             0             0.0  Group 2      8                 E-Bold
1105             0             0.0  Group 1      8       Grosir Baju Anak
1106             0             0.0  Group 1      8          hs grosir tas

In [ ]:
# Find Seller with highest total 'GMV'
gmv_per_seller_df = aug_filtered_df.groupby('Seller')['GMV'].sum().reset_index()
gmv_per_seller_df

highest_gmv_seller = gmv_per_seller_df.loc[gmv_per_seller_df['GMV'].idxmax()]
print(f"Seller dengan total nilai GMV tertinggi pada Bulan Agustus 2017: {highest_gmv_seller['Seller']}")
print(f"Total GMV: {highest_gmv_seller['GMV']}")

Seller dengan total nilai GMV tertinggi pada Bulan Agustus 2017: MOBILEPULSA APP
Total GMV: 127241500

##Find Seller who has Highest Transasction Cound in September 2017 for 'Fashion' Category

In [ ]:
# Filtering for "Fashion" Category in September 2017
sep_filtered_df = merged_df[(merged_df['Paid Date'].dt.month == 9) & (merged_df['Meta Category'] == 'Fashion')]
sep_filtered_df

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount,Group,Month,Seller
2474,2017-09-02,201709021277460,tesya,Bayu,Tesya Bayu,Fashion,Bralette Tali 6/ Active BRA tali 6/ Black & Wh...,158000,102700,55300,0.0,0,0.0,Group 1,9,duta shop
2476,2017-09-20,201709201670584,ladira,Anthony,Ladira Anthony,Fashion,BATIK CULLOTE - SKIRT - SKORT - Kulot Batik - ...,150000,107000,43000,3000.0,0,0.0,Group 1,9,EVERCLOTH_ID
2479,2017-09-03,201709031301986,rusmidi,Rudi,Rusmidi Rudi,Fashion,[Future Is Now] Foldbale bag / Tas Lipat Stree...,75000,53500,21500,1500.0,0,0.0,Group 1,9,Faith
2482,2017-09-20,201709201670331,Halimah,fajar,Halimah Fajar,Fashion,Smart Digital Wrist Watch Band Heart rate Bloo...,75000,53500,21500,1500.0,0,0.0,Group 1,9,HAPIC Store
2642,2017-09-11,201709101490591,Najmi,Suryono,Najmi Suryono,Fashion,MUNAFIE Slimming Pants / MUNAFIE Slimming Pant...,34000,0,34000,0.0,0,0.0,Group 1,9,Alena_Shop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7831,2017-09-11,201709091463132,Noval,Mangaraja,Noval Mangaraja,Fashion,Singlet Pria Dewasa / Pakaian Dalam Pria / Kao...,103500,0,103500,6500.0,0,0.0,Group 1,9,Fadfa Collections
7948,2017-09-28,201709271783320,mufaddal,ayya,Mufaddal Ayya,Fashion,kaos kaki 5 jari polos pria,51900,0,51900,2000.0,0,0.0,Group 1,9,AG Collection
8145,2017-09-04,201709041321069,GATUTSUPRIADI,anna,Gatutsupriadi Anna,Fashion,Sepatu Pria Sneakers Nik Springblade / Sepatu ...,10400,0,10400,0.0,0,0.0,Group 1,9,HANA PICKS
8146,2017-09-05,201709051355254,Sonny,Mahliannur,Sonny Mahliannur,Fashion,[3 Ways Bag] Atdiva Tas Ransel Selempang Simpl...,10400,0,10400,0.0,0,0.0,Group 1,9,Tas Kpop Atdiva
8464,2017-09-18,201709181638780,Silvia,Fabiyola,Silvia Fabiyola,Fashion,CELANA PANJANG BAHAN FORMAL/CELANA KERJA PRIA ...,41600,18700,22900,0.0,0,0.0,Group 1,9,M-line

In [ ]:
# Find Seller with Highest Transaction Count (Banyaknya Transaksi)
seller_trans_amount_df= sep_filtered_df.groupby('Seller')['Transaction Amount'].count().reset_index()

highest_count_seller = seller_trans_amount_df.loc[seller_trans_amount_df['Transaction Amount'].idxmax()]
print(f"Seller dengan nilai 'Banyak Transaksi' tertinggi di Bulan September 2017 untuk Meta Categori Fashion: {highest_count_seller['Seller']}")
print(f"Banyaknya Transaksi: {highest_count_seller['Transaction Amount']}")

Seller dengan nilai 'Banyak Transaksi' tertinggi di Bulan September 2017 untuk Meta Categori Fashion: tokoaqila
Banyaknya Transaksi: 31